server:
  port: 8080

spring:
  application:
    name: backend

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  #Connect Spring Boot application 
  #to a MongoDB database named 'rewood' 
  # running locally on port 2701
  data:
    mongodb:
      uri: mongodb://localhost:27017/rewood

